<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/Proyecto-Musicbox/Log in/styleLog.css">
      <link rel="stylesheet" href="/Proyecto-Musicbox/normalize.css">
      <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
      </style>
      <title>Log in</title>
   </head>
   <body class="contenedor-grid">
      <header class="header">
         <img class="logo-musica" src="/Proyecto-Musicbox/iconos/MUSIC--.png" alt="">

      </header>

      </nav>
      <main class="main">
         <div class="contenedor">
            <form action="" class="formulario" id="formulario" autocomplete="off">
              <div class="form-input usuario">
                <input type="text" id="usuario" placeholder="Ingresar nombre de usuario">
                <label for="usuario">Nombre</label>
                <p class="mensajeError"></p>
              </div>
              <div class="form-input contraseña">
                <input type="password" id="contraseña" placeholder="Ingrese contraseña">
                <label for="contraseña">Contraseña</label>
                <p class="mensajeError"></p>
              </div>
              <div class="botons">
              <div class="form-boton">
                <input type="submit" value="Ingresar">
              </div>
              <div class="form-boton">
               <button class="boton-registrarse"><a href="/Proyecto-Musicbox/Registro/Registro.html" target="_blank">Registrarse</a></button>
             </div>
             </div>
              <p class="mensajeCorrecto"></p>
            </form>
          </div>
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         <!-- <div class="definicion-app">
                <p class="descripcion-novedades" style="text-align: center;">
                    Usuario
                </p>
                <div class="input-contenedor-1">
                <input type="password" class="formulario__campo-1" placeholder="Ingresar nombre de usuario">
                </div>
                <div class="novedades">
                  <p class="descripcion-novedades-2" style="text-align: center;">
                     Contraseña
                  </p>

                   <div class="listado-albumes-novedades">
                     <div class="input-contenedor-2">
                        <input type="password" class="formulario__campo-1" placeholder="Ingrese contraseña" style="text-align: center;">
                        </div>

                        <nav class="nav" id="nav">
                           <ul class="NAV-LIST">
                              <div class="caja-link">

                        <button aria-label="setting" class="boton__tuerca" id="btn-abrir-modal">

                           <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"></i>¿ Olvidaste la contraseña ?</a></li>
                        </button>
                        </div>
                        <dialog  id="modal">
                           <div class="container-1">
                           <div class="form-content">
                              <form>
                                 <h1 id="title">Se ha enviado a tu correo electronico un mail con los pasos a seguir para cambiar la contraseña</h1>


                                 </div>




                                 <div class="caja-buttons-1">
                                 <button id="btn-cerrar-modal">Log in</button>
                                 </div>
                              </form>
                           </div>
                        </dialog>
                        </div>
                      <div class="caja-buttons">
                        <button id="button-1">Ingresar</button>
                        <button id="button-2">Registrarse</button>
                      </div>
                   </div>
            </div>
 -->

            <!-- CANTIDAD PARA TENER ESTRUCTURA FIJA
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br>
            -->


      </main>
      <footer class="footer">
         <h3 class="Footer-h3"></h3>
      </footer>

      <script src="/Proyecto-Musicbox/Log in/modal.js"></script>
      <script src="/Proyecto-Musicbox/Log in/form.js"></script>

   </body>
</html>