<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="detalle_album.css">
    <link rel="stylesheet" href="/Proyecto-Musicbox/logo.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Proyecto1</title>
</head>
<body class="contenedor-grid">
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
              <li class="Listas"><a href="/Proyecto-Musicbox/index.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="/Proyecto-Musicbox/iconos/house-black-silhouette-without-door.png"></i>Inicio</a></li>
              <li class="Listas"><a href="/perfil/perfil.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-2" src="/Proyecto-Musicbox/iconos/music-lover.png"></i>Perfil</a></li>
              <li class="Listas"><a href="/Listenlist/Listenlist.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-3" src="/Proyecto-Musicbox/iconos/album-de-musica.png"></i>Listenlist</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/LISTAS/listas.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="/Proyecto-Musicbox/iconos/icono.png"></i>Listas</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/reviews/reviews.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/chat.png"></i>Reviews</a></li>
              <li class="Listas"><a href="" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/exit.png"></i>Cerrar sesíon</a></li>
              </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    <nav class="navbar"><nav class="inputs-nav">
            <div class="barra">
                <form action="" class="formulario-1">
                    <div>
                     <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar" required>
                     </div>
                     <div>
                     <select class="formulario__campo-2" id="selectorOption" name="selectorOption" required>
                        <option value="0" disabled selected>Tipo busqueda</option>
                        <option value="1">HHHH</option>
                        <option value="2">EEEE</option>
                        <option value="3">AAAA</option>
                        <input type="button" onclick="validarSelectorBusqueda();" value="confirmar" id="botonValidar">
                     </select>
                     </div>
                      <div class="barra_boton_nueva_lista">
                     <button class="btn">Buscar</button>
                  </div>
                  </form>
    </div>
    </div>
    </div>
    </nav>
    </nav>
    <main class="main">
        <p class="titulo_album">{{nombreAlbum}}</p>
        <p class="banda_album">{{nombreArtista}}</p>
        <img v-bind:src="nombreAlbumArchivo" alt=""class="portada-album" >
        <div class="datos-album">
            <p class="caracteristica">Año: {{anio}}</p>
            <p class="caracteristica">Duracion: {{duracion}} minutos</p>
            <p class="caracteristica">Canciones:</p>
            <ul class="listado-canciones">
                <li v-for="cancion in canciones">
                    {{cancion.nombreCancion}}
                </li>
            </ul>
            <a class="link_album" v-bind:href="linkInfo">+ info</a>
        </div>
        <div class="boton-puntuacion-album">
            <button class="boton-puntuar" id="btn-abrir-modal">Puntuacion, Review</button>
        </div>
        <div class="boton-agregar-lista">
            <button class="boton-puntuar" id="btn-abrir-modal-listas">Agregar a listas</button>
        </div>
        <div class="reviews">
            <p class="caracteristica">Reseñas:</p>
            <li v-for="review in reviews">
                <div class="review_usuario">
                    <p class="nombre_usuario">{{review.usuario}}</p>
                    <ul class="datos-review">
                        <li>◉ Puntuacion: {{review.puntaje}} estrellas</li>
                        <li>◉ Reseña: "{{review.review}}"</li>
                    </ul>
                </div>
            </li>
        </div>








        <div class="modal">
            <dialog  id="modal">
                <div class="container-1">
                    <!-- <h2 id="title">Editar Listenlist</h2> -->
                    <form>
                        <h2 id="sub-title">Dejá tu opinion sobre el album!</h2>
                        <p class="atributo-puntuacion">Puntuacion (estrellas):</p>
                        <div class="select-estrellas">
                            <select id="estrellas">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                        <p class="atributo-review">Reseña:</p>
                        <textarea required id="descripcion-review" name="descripcion-review" rows="9" cols="60"></textarea>

                        <div class="guardado-albums">
                            <button id="guardar-detalle-album">Guardar</button>
                        </div>
                        <div class="cerrar-albums">
                            <button id="cerrar-detalle-album">Cerrar</button>
                        </div>                        
                    </form>
                </div>
            </dialog>
        </div>
        <div class="modalListas">
            <dialog  id="modalListas">
                <div class="container-2">
                    <!-- <h2 id="title">Editar Listenlist</h2> -->
                    <form>
                        <h2 id="sub-title-listas">¿En qué listas querés este album?</h2>
                        <div class="lista-albums">
                            <li v-for="lista in listas">
                                <div class="opcion-album">
                                    <span v-if="lista.check==0">
                                        <input type="checkbox" name="Album" id="Album">
                                    </span>
                                    <span v-if="lista.check==1">
                                        <input type="checkbox" name="Album" id="Album" checked>
                                    </span>
                                    <label for="Album" class="nombre-album">{{lista.nombreLista}}</label>
                                </div>
                            </li>
                        </div>



                        <div class="guardado-albums">
                            <button id="guardar-detalle-album">Guardar</button>
                        </div>
                        <div class="cerrar-albums">
                            <button id="cerrar-detalle-album">Cerrar</button>
                        </div>                        
                    </form>
                </div>
            </dialog>
        </div>
    </main>
    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="VUE-DETALLE_ALBUM.js"></script>
    <script src="menu.js"></script>
    <script src="/Proyecto-Musicbox/form-index.js"></script>
    <script src ="/Proyecto-Musicbox/detalle_album/modal.js"></script>
</body>
</html>