<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="estilo2.css">
      <link rel="stylesheet" href="normalize.css">
      <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
      </style>
      <title>Proyecto1</title>
   </head>
   <body class="contenedor-grid">
      <header class="header">
         <nav class="nav" id="nav">
            <ul class="NAV-LIST">
               <li class="Listas"><a href="/Proyecto-Musicbox/index.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="/Proyecto-Musicbox/iconos/house-black-silhouette-without-door.png"></i>Inicio</a></li>
               <li class="Listas"><a href="/Proyecto-Musicbox/perfil/perfil.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-2" src="/Proyecto-Musicbox/iconos/music-lover.png"></i>Perfil</a></li>
               <li class="Listas"><a href="/Proyecto-Musicbox/Listenlist/Listenlist.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-3" src="/Proyecto-Musicbox/iconos/album-de-musica.png"></i>Listenlist</a></li>
               <li class="Listas"><a href="/Proyecto-Musicbox/LISTAS/listas.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="/Proyecto-Musicbox/iconos/icono.png"></i>Listas</a></li>
               <li class="Listas"><a href="/Proyecto-Musicbox/reviews/reviews.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/chat.png"></i>Reviews</a></li>
               <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/exit.png"></i>Cerrar sesíon</a></li>
            </ul>
            <div class="hamburguer">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
         </nav>
      </header>
      <nav class="navbar">
         <nav class="inputs-nav">
            <div class="barra">
               <div class="input-contenedor-1">
                  <form class="formulario-1">
                     <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar">
                  </form>
               </div>
               <div class="input-contenedor-2">
                  <form class="formulario-2">
                     <select class="formulario__campo-2">
                        <option disabled selected>Tipo busqueda</option>
                        <option>HHHH</option>
                        <option>EEEE</option>
                        <option>AAAA</option>
                     </select>
                  </form>
               </div>
               <div class="barra_boton_nueva_lista">
                  <button class="btn" id="btn-abrir-modal">Buscar</button>
               </div>
            </div>
            </div>
         </nav>
      </nav>
      <main class="main">
            <p class="descripcion-resultado">Resultados: 4</p>
            <div class="listado-resultados">
               <div class="resultado">
                  <a href=""><img src="/Proyecto-Musicbox/albums/Queen.jpg" alt="" class="imagen-resultado"></a>
                  <p style="text-decoration:none" href="" class="nombre-resultado">Queen</p>
               </div>
               <div class="resultado">
                  <a href=""><img src="/Proyecto-Musicbox/albums/Animals.png" alt="" class="imagen-resultado"></a>
                  <p style="text-decoration:none" href="" class="nombre-resultado">Animals</p>
               </div>
               <div class="resultado">
                  <a href=""><img src="/Proyecto-Musicbox/iconos/music-lover.png" alt="" class="imagen-resultado"></a>
                  <p style="text-decoration:none" href="" class="nombre-resultado">gabo.alvarez</p>
               </div>
               <div class="resultado">
                  <a href=""><img src="/Proyecto-Musicbox/iconos/album-de-musica.png" alt="" class="imagen-resultado"></a>
                  <p style="text-decoration:none" href="" class="nombre-resultado">Rock de los 70s</p>
               </div>
            </div>




            <!-- CANTIDAD PARA TENER ESTRUCTURA FIJA
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br>
            -->
            
            

      </main>
      <footer class="footer">
         <h3 class="Footer-h3">Todos los derechos reservados</h3>
      </footer>
      <script src="menu.js"></script>
   </body>
</html>