<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo4.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="/Proyecto-Musicbox/Listenlist/logo.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Proyecto3</title>
</head>

<body class="contenedor-grid">
    
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
              <li class="Listas"><a href="/Proyecto-Musicbox/index.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="/Proyecto-Musicbox/iconos/house-black-silhouette-without-door.png"></i>Inicio</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/perfil/perfil.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-2" src="/Proyecto-Musicbox/iconos/music-lover.png"></i>Perfil</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/Listenlist/Listenlist.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-3" src="/Proyecto-Musicbox/iconos/album-de-musica.png"></i>Listenlist</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/LISTAS/listas.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="/Proyecto-Musicbox/iconos/icono.png"></i>Listas</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/reviews/reviews.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/chat.png"></i>Reviews</a></li>
              <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/exit.png"></i>Cerrar sesíon</a></li>
              </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    
    <nav class="navbar"><nav class="inputs-nav">
        <div class="barra">
            <div class="titulo_pagina_navbar">🌟 {{nombrePagina}} 🌟</div>
        </div>
        <div class="barra_boton_nueva_lista">
            <button class="btn" id="btn-abrir-modal">Editar lista</button>
        </div>
    </nav></nav>

    <main class="main">    
        <p class="descripcion_lista">Aca tenes los albumes que tenes pendientes por escuchar!</p>
        <br><br><br><br><br>
        <p class="descripcion_lista">Cantidad albumes: {{cantAlbumesPendientes}}</p>        
        
        
        
        
        
        <div class="modal">
            <dialog  id="modal">
                <div class="container-1">
                    <!-- <h2 id="title">Editar Listenlist</h2> -->
                    <form>
                        <h2 id="sub-title">Seleccioná los albumes que aún queres tener pendientes para escuchar:</h2>
                        <div class="lista-albums">
                            <li v-for="album in albumes">
                                <div class="opcion-album">
                                    <input type="checkbox" name="Album" id="Album" checked>
                                    <label for="Album" class="nombre-album">{{album.nombreAlbum}}</label>
                                </div>
                            </li>

                        </div>
                     
                        <div class="guardado-albums">
                            <button id="guardar-albums-listenlist">Guardar</button>
                            <!-- CUANDO SE PRESIONA, SE RECARGA LA PAGINA, PARA QUE IMPACTE EN LA BD LA LISTA ACTUALIZADA-->
                        </div>
                        <div class="guardado-albums">
                            <button id="cerrar-modal-listenlist">Cerrar</button>
                        </div>                        
                    </form>
                </div>
            </dialog>
        </div>





       <div class="contenedor-main">            
            <li v-for="album in albumes">
                <div class="caja2">
                    <section>
                        <img v-bind:src= "album.nombreAlbumArchivo" alt="" class="imagen-1">
                        <h3 id="h3-2">{{ album.nombreAlbum }}</h3>
                    </section>
                </div>
            </li>
            <span v-if="cantAlbumesPendientes<=3">
                <!-- VERIFICACION PARA QUE LA ESTRUCTURA DE LA PAGINA SE MANTENGA-->
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </span>
        </div>

    </main>
    
    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="VUE-LISTENLIST.js"></script>
    <script src="/Proyecto-Musicbox/menu.js"></script>
    <script src ="/Proyecto-Musicbox/Listenlist/modal.js"></script>
</body>
</html>