<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'musicboxWebApp/detalle_album/detalle_album.css' %}" rel="stylesheet">
    <link href="{% static 'musicboxWebApp/inicio/logo.css' %}" rel="stylesheet">
    <link href="{% static 'musicboxWebApp/inicio/normalize.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Proyecto1</title>
</head>
<body class="contenedor-grid">
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
                <li class="Listas"><a href="{% url 'inicio' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="{% static 'musicboxWebApp/iconos/house-black-silhouette-without-door.png' %}"></i>Inicio</a></li>
                <li class="Listas"><a href="{% url 'listas' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="{% static 'musicboxWebApp/iconos/icono.png' %}"></i>Listas</a></li>
                <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="{% static 'musicboxWebApp/iconos/exit.png' %}"></i>Cerrar sesíon</a></li>
             </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    <nav class="navbar"><nav class="inputs-nav">
            <div class="barra">
                <form action="" class="formulario-1">
                    <div>
                     <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar" required>
                     </div>
                     <div>
                     
                     </div>
                      <div class="barra_boton_nueva_lista">
                     <button class="btn">Buscar</button>
                  </div>
                  </form>
    </div>
    </div>
    </div>
    </nav>
    </nav>
    <main class="main">
        <h1 id="title-album">{{nombreAlbum}}<h1/>
        <h2 id="sub-tile-album">{{nombreArtista}}<h2/>
        <img id="imagen-wall" src="{% static archivo_imagen %}" alt="" >
        <div class="contenedor-detalles">
            <p class="caracteristica">Canciones:</p>
            <ul class="listado-canciones">
                {% for cancion in canciones %}
                <li v-for="cancion in canciones">
                    {{cancion.nombre}}
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="boton-agregar-lista">
            <button class="boton-puntuar" id="btn-abrir-modal-listas">Agregar a listas</button>
        </div>
        








        
        <div class="modalListas">
            <dialog id="modalListas">
                <div class="container-2">
                    <!-- <h2 id="title">Editar Listenlist</h2> -->
                    <form method="POST" action="/incorporar_album/">
                        {% csrf_token %}
                        <h2 id="sub-title-listas">A qué lista querés agregar este album?</h2>
                        <input id="input-1" type="text" class="input_lista_agregar" name="lista_a_incorporar">

                        <input type="hidden" name="nombre_usuario" value="{{usuario.usuario}}">
                        <input type="hidden" name="nombre_album" value="{{nombreAlbum}}">

                        <div class="guardado-albums">
                            <button type="submit" id="guardar-detalle-album">Guardar</button>
                        </div>
                        <div class="cerrar-albums">
                            <button onclick="cerrarModal(event)" id="cerrar-detalle-album">Cerrar</button>
                        </div>                        
                    </form>
                </div>
            </dialog>
        </div>





    </main>
    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <!-- <script src="/Proyecto-Musicbox/form-index.js"></script> -->
    <script src="{% static 'musicboxWebApp/detalle_album/modal.js' %}"></script>
    <script src="{% static 'musicboxWebApp/detalle_album/menu.js' %}"></script>
</body>
</html>