<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static 'musicboxWebApp/inicio/logo.css' %}" rel="stylesheet">
    <link href="{% static 'musicboxWebApp/detalle_lista/detalle_lista.css' %}" rel="stylesheet">   

    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Proyecto1</title>
</head>
<body class="contenedor-grid">
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
                <li class="Listas"><a href="{% url 'inicio' %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="{% static 'musicboxWebApp/iconos/house-black-silhouette-without-door.png' %}"></i>Inicio</a></li>
                <li class="Listas"><a href="{% url 'listas' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="{% static 'musicboxWebApp/iconos/icono.png' %}"></i>Listas</a></li>                
                <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="{% static 'musicboxWebApp/iconos/exit.png' %}"></i>Cerrar sesíon</a></li>
             </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    
    <nav class="navbar"><nav class="inputs-nav">
        <div class="barra">
            <div class="titulo_pagina_navbar">{{nombreLista}}</div>
        </div>
        
    </nav></nav>
    
</div>

    <main class="main">
        <p class="descripcion_lista">{{descripcion}}.</p>
        <div class="contenedor-main">


            {% for album in albums %}
                <div class="caja2">
                    <section>
                        <a href=""><i class="Listas-i"><img class="imagen-icono-editado-new-1" src="{% static album.archivo_imagen %}"></i></a>
                        <h3 id="h3-2">{{album.nombre}}</h3>
                    </section>
                </div>
            {% endfor %}

        </div>
        
    </main>
    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <script src="{% static 'musicboxWebApp/detalle_lista/modal.js' %}"></script>
    <script src="{% static 'musicboxWebApp/detalle_lista/linkear.js' %}"></script>
    <script src="{% static 'musicboxWebApp/inicio/menu.js' %}"></script>
</body>
</html>