<!DOCTYPE html>
<html lang="es">
   <head>
      {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      
      <link href="{% static 'musicboxWebApp/inicio/INICIO.css' %}" rel="stylesheet">
      <link href="{% static 'musicboxWebApp/inicio/normalize.css' %}" rel="stylesheet">
      <link href="{% static 'musicboxWebApp/inicio/logo.css' %}" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
      </style>
      <title>Proyecto1</title>
   </head>
   <body class="contenedor-grid">
      <header class="header">
         <nav class="nav" id="nav">
            <ul class="NAV-LIST">
               <span class="logo">Music~<span class="logo-2">box♪</span></span>
               <li class="Listas"><a href="{% url 'inicio' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="{% static 'musicboxWebApp/iconos/house-black-silhouette-without-door.png' %}"></i>Inicio</a></li>
               <li class="Listas"><a href="{% url 'listas' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="{% static 'musicboxWebApp/iconos/icono.png' %}"></i>Listas</a></li>
               <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="{% static 'musicboxWebApp/iconos/exit.png' %}"></i>Cerrar sesíon</a></li>
            </ul>
            <div class="hamburguer">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
         </nav>
      </header>
      <nav class="navbar">
         <nav class="inputs-nav">
            <div class="barra">
               
               <form action="/buscar/" method="GET" class="formulario-1">
                  <div>
                     <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar" name="nombre_album" required>
                     <input type="hidden" name="nombre_usuario" value="{{usuario.usuario}}">
                  </div>
                  <div class="barra_boton_nueva_lista">
                     <button type="submit" class="btn">Buscar</button>
                  </div>
               </form>


            </div>
         </nav>
      </nav>
      <main class="main">
            <div class="definicion-app">
                <p class="descripcion-novedades">
                    Hola {{nombreUsuario}}!
                    <br>                    
                    Music~Box es una red social en donde todo es en torno a albumes de musica, podes:
                    <br><br> # Crear listas donde almacenar albumes
                    <br> # Seguir a usuarios para conocer sus gustos musicales y ver sus reseñas sobre distintos albumes
                    <br> # Dejar reseñas y puntuaciones para los albumes que te gusten, permitiendo a otros usuarios ver tus opiniones
                    <br> # Poder tener ordenadamente albumes que tenes pendientes para escuchar (ListenList)
                </p>
            </div>
            
            <div class="novedades">
                <p class="descripcion-novedades">
                    Estos son los ultimos albumes añadidos a la plataforma!
                </p>
                <div class="listado-albumes-novedades">
                    <ul>
                        {% for novedad in novedades %}
                           <li>{{novedad}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="contacto">
               <p class="descripcion-novedades">
                  ¿Querés recomendar contenido ? Comunicate con nosotros!
              </p>
              <form action="https://formspree.io/f/xayzrzzg" method="POST" class="formulario" id="formulario" autocomplete="off" required>
               <div class="form-input Email">
                  <label for="Email" id="Email-nombre">Email</label>
                 <input type="text" id="Email" placeholder="Ingresar email" required>
                 <p class="mensajeError"></p>
               </div>
               <div class="form-input Usuario">
                  <label for="Usuario" id="Usuario-nombre">Usuario</label>
                 <input type="Usuario" id="Usuario" placeholder="Ingresar tu usuario" required>
                 <p class="mensajeError"></p>
               </div>
              
               <div class="form-input Asunto">
                  <label for="Asunto" id="Asunto-nombre">Asunto</label>
                 <input type="text" id="Asunto" placeholder="Ingresar el tema de la recomendación" required>
                 <p class="mensajeError"></p>
               </div>
               
               <div class="form-boton">
                  <input type="submit" value="Enviar" class="btn-contacto">
                </div>
                <p class="mensajeCorrecto"></p>
              </form>
               </div>
               </div>
              
           </div>
            

      </main>
      <footer class="footer">
         <h3 class="Footer-h3">Todos los derechos reservados</h3>
      </footer>
      <script src="{% static 'musicboxWebApp/inicio/form-index.js' %}"></script>
      <script src="{% static 'musicboxWebApp/inicio/menu.js' %}"></script>
      </script>
   </body>
</html>