<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'musicboxWebApp/listas/listas.css' %}" rel="stylesheet">
    <link href="{% static 'musicboxWebApp/inicio/logo.css' %}" rel="stylesheet">
    <link href="{% static 'musicboxWebApp/detalle_album/detalle_album.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="normalize.css"> -->
   
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
    
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>LISTAS</title>
</head>
<body class="contenedor-grid">
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
                <li class="Listas"><a href="{% url 'inicio' %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="{% static 'musicboxWebApp/iconos/house-black-silhouette-without-door.png' %}"></i>Inicio</a></li>
                <li class="Listas"><a href="{% url 'listas' nombre_usuario=usuario.usuario %}" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="{% static 'musicboxWebApp/iconos/icono.png' %}"></i>Listas</a></li>
                <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="{% static 'musicboxWebApp/iconos/exit.png' %}"></i>Cerrar sesíon</a></li>
             </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    
    <nav class="navbar"><nav class="inputs-nav">
        <div class="barra">
            <div class="titulo_pagina_navbar">Tus listas de musica</div>
        </div>
        <div class="barra_boton_nueva_lista">
            <button class="btn" id="btn-abrir-modal">Nueva lista</button>
        </div>
    </nav></nav>

    <dialog  id="modal">
        <div class="container-1">
            <form>
              <h2 id="sub-title">Nombre de la nueva Lista</h2>
                <input id="input-1" type="text" placeholder="Ingresar nombre">
                <h2 id="sub-title">Descripcion</h2>
                <textarea id="descripcion-review" name="descripcion-review" rows="3" cols="30"></textarea>
                
                <div class="guardado-albums">
                    <button type="button" id="guardar-detalle-album">Crear</button>
                </div>
                <div class="cerrar-albums">
                    <button id="cerrar-detalle-album">Cerrar</button>
                </div> 
            </form>
        </div>
    </dialog>
</div>

    <main class="main">
        <div class="contenedor-main">
             <div class="contenedor-main">

                {% for lista in listas %}
                <div class="caja-1">
                    <a class="titulo_lista-2" href="{% url 'detalle_lista' lista_nombre=lista.nombre %}">{{lista.nombre}}</a>
                    <br><br>
                    
                </div>
                {% endfor %} 
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    </main>

    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <script src="{% static 'musicboxWebApp/listas/modal.js' %}"></script>
    <script src="{% static 'musicboxWebApp/listas/linkear.js' %}"></script>
    <script src="{% static 'musicboxWebApp/inicio/menu.js' %}"></script>
</body>
</html>