<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/Proyecto-Musicbox/Registro/StyleRegistro2.css">
      <link rel="stylesheet" href="/Proyecto-Musicbox/normalize.css">
      <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
      </style>
      <title>Registro</title>
   </head>
   <body class="contenedor-grid">
      <header class="header">
         <img class="logo-musica" src="/Proyecto-Musicbox/iconos/MUSIC--.png" alt="">
         
      </header>
     
      </nav>
      <main class="main">
         <div class="contenedor">
            <form action="" class="formulario" id="formulario" autocomplete="off">
              <div class="form-input usuario">
                <input type="text" id="usuario" placeholder="Ingresar usuario">
                <label for="usuario">Nombre</label>
                <p class="mensajeError"></p>
              </div>
              <div class="form-input correo">
                <input type="email" id="correo" placeholder="Ingresar email">
                <label for="correo">Correo electrónico</label>
                <p class="mensajeError"></p>
              </div>
             
              <div class="form-input contraseña">
                <input type="password" id="contraseña" placeholder="Ingrese contraseña">
                <label for="contraseña">Contraseña</label>
                <p class="mensajeError"></p>
              </div>
              <div class="form-input repeatContraseña">
                <input type="password" id="repeatContraseña" placeholder="Reingrese contraseña">
                <label for="repeatContraseña">Confirmar contraseña</label>
                <p class="mensajeError"></p>
              </div>
              <div class="form-termsAndConditions termsAndConditions">
                <input type="checkbox" id="termsAndConditions">
                <label for="termsAndConditions">He leído y acepto los</label>
                <a href="#" style="color: rgb(6, 106, 255);">Términos y Condiciones</a>
                <p class="mensajeError"></p>
              </div>
              <div class="form-boton">
                <input type="submit" value="Registrarse">
              </div>
              <p class="mensajeCorrecto"></p>
            </form>
          </div>

<!-- 
                    <dialog  id="modal">
                       <div class="container-1">
                       <div class="form-content">
                          <form>
                             <h1 id="title">El correo electronico indicado, ya esta registrado para una cuenta existente!</h1>
                           
                            
                             </div>

                             
                             <div class="caja-buttons-1">
                             <button id="btn-cerrar-modal">Atras</button> 
                             </div>
                          </form>
                       </div>
                    </dialog>
                    </div>
                  <div class="caja-buttons">
                     <button aria-label="setting" class="boton__tuerca" id="btn-abrir-modal"> Registrarse </button>
                  </div>
               </div>
        </div> 
       -->
      
        <!-- CANTIDAD PARA TENER ESTRUCTURA FIJA
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br>
        -->
        

  </main>
      <footer class="footer">
         <h3 class="Footer-h3"></h3>
      </footer>
   
      <!-- <script src="/Proyecto-Musicbox/Registro/modal.js"></script> -->
      <script src="/Proyecto-Musicbox/Registro/form.js"></script>
   </body>
</html>