:root {
    --ColorPrincipal:#232526;
    --ColorNav:#590306;
    --ColorBlanco: #ffffff;
  --Fuenteprincipal: 'Work Sans', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%
  }
  body {
    min-height: 100%;
    font-family: var(--Fuenteprincipal);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .contenedor-grid > * {
  
    padding: 1rem;
    border:solid
  }
  .contenedor-grid{
    display: grid;
  
  grid-template-areas: 
  "header"
  "navbar"
  "main"
  "footer";
  }
  .header {
    grid-area: header;
    background-color: #590306;
  }
  .navbar {
    grid-area: navbar;
   background-color: var(--ColorNav);
  }
  .main {
    grid-area: main;
    background-color: var(--ColorPrincipal)
  }
  .footer {
    grid-area: footer;
  background-color: var(--Fuenteprincipal);
  
  }
  .Footer-h3 {
  color: aqua;
  text-align: center;
  }
  

  @media (min-width: 1224px) {    
    .container-1 {
      border: solid;
      padding-bottom: 3rem;
      width: 70rem;
      margin-left: 29%;
      border-radius: 12%;
      margin-top: 13rem;
      background-color: #160a3b;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #sub-title {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 3rem;
      color: var(--ColorBlanco);
    }
    #input-1 {
      margin-left: 16.5rem;
      margin-bottom: 3rem;
      border-style: solid;
      border-radius: 0.7rem;
      background-color:#232526;
      color: yellow;
      font-size: 2rem;
      padding: 0.3rem;
      width: 35rem;
    }
    #descripcion-review{
      background-color:#232526;
      margin-left: 16.5rem;
      font-size: 2rem;
      border-style: solid;
      border-radius: 0.7rem;
      color:yellow;
      margin-bottom: 2rem;
    }
    .guardado-albums{
      margin-left: 30rem;
      margin-bottom: 2rem;
      margin-top: 5rem;
    }
    #guardar-detalle-album{
      width: 10rem;
      height: 3.3rem;
      font-size: 1.5rem;
      background-color:#590306;
      color:white;
      font-family: var(--Fuenteprincipal);
    }
    .cerrar-albums{
      margin-left: 30rem;
    }
    #cerrar-detalle-album{
      width: 10rem;
      height: 3.3rem;
      font-size: 1.5rem;
      background-color: grey;
      color:black;
      font-weight: bold;
      font-family: var(--Fuenteprincipal);
    }
    
    .contenedor-grid {
        grid-template-columns: 4rem 3rem 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "main   main   main"
        "footer footer footer" 
    }     
    .contenedor-main {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;                  
      }
      .barra_boton_nueva_lista {
        background-color: #590306; /* COLOR BORDO */
        padding: 10px 0px 0px 0px;
        text-align: center;
        
      }
   

      
      #modal{ 
        margin: auto;
        border: none;
      background: none;
        background-repeat: no-repeat;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.667);
        min-width: 100%;
        min-height: 100%;
        }
        .container-1 form {
          margin-top: 3rem;
        }
      .boton {
        margin-left: 100rem;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        cursor: pointer;
      }
      .boton-cerrar {        
        cursor: pointer;
        width: 12rem;
        height: 3rem;
        font-size: 2rem;
        margin-left: 1rem;
      }
      
      #Guardar {
       margin-left: 23rem;
       width: 12rem;
       height: 3rem;
       font-size: 2rem;
        }
    
        .contenedor-buttons {
        display: inline-flex;
        margin-top: 1rem;
      }
      #Album {
        margin-top: 8rem;
      }
      #title {
        margin-left: 26rem;
        margin-top: 3rem;
        font-size: 2rem;
        color: var(--ColorBlanco);
      }
      
      

      #sub-title-2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 2.7rem;
        color: var(--ColorBlanco);
      }
      #sub-title-3 {
        text-align: center;
        margin-top: 1rem;
        font-size: 2.7rem;
        color: var(--ColorBlanco);
      }
      
      #input-2 {
        margin-left: 16.5rem;
        margin-top: 2rem;
        font-size: 2.3rem;
        border-style: outset;
        background-color: transparent;
        color: var(--ColorBlanco);
        height: 4rem;
        width: 35rem;
      }

      
            .Titulo {
              border: none;
            }
            .buton {
              margin-left: 100rem;
              margin-bottom: 3rem;
            }

            .text-album-1 {
             margin-left: 11.3rem;
             font-size: 1.6rem;
             color: var(--ColorBlanco);
            }
            .lista-albums{
              margin-top: -0.2rem;
              margin-left: 25rem;
              margin-bottom: 0rem;
            }
            .opcion-album{
              margin-top: 2rem;
              margin-bottom: 0rem;
            }
            .nombre-album{
              color:white;
              font-size: 2rem;
              margin-left: 1.5rem;
            }
            #Album { /*ES EL CHECKBOX */
              margin-left: 4.3rem;
              margin-top: 0rem;
              width:16px;
              height:16px;
            }
           


      .imagen-icono-editado-new-1 {
        height: 25.4rem;
        width: 36rem;
        margin-left: 2.5rem;
        margin-top: 3.9rem;
        border: solid;
        border-color: grey;
      
      } 
    
 

       .imagen-icono-editado-new-2 {
        height: 25.4rem;
        width: 40rem;
        margin-left: 2.5rem;
        margin-top: 3.8rem;
        border: solid;
        border-color: grey;
      
      } 
       .imagen-icono-editado-new-3 {
        height: 25.5rem;
        width: 38rem;
        margin-left: 2.5rem;
        margin-top: 3.8rem;
        border: solid;
        border-color: grey;
        
      }
       
      .imagen-icono-editado-new-4 {
       height: 25.4rem;
        width: 36rem;
        margin-left: 2.5rem;
        margin-top: 3rem;
        border: solid;
        border-color: grey;
      }
  
    
      
      .descripcion_lista{
        color:white;
        font-size: 3rem;
        margin-top:2rem;
        margin-left:2rem;
        margin-bottom: -70px;
      }
      
      .caja1 {
        width: 40rem;
          }
          .caja2 {
         width: 40rem;
         height: 2rem;
         margin-top: 2rem;
          
          }
          .caja3 {
        width: 40rem;
        margin-top: 2.4rem;
       
          }
          .caja4{
        width: 40rem;
        margin-top: 5rem;
       
          }
    
          /** Arreglos header **/
          .header {
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: row-reverse;
            
            padding: 2rem;
            background-color: var(--ColorNav);
          }
          
          
          
          .NAV-LIST{
          display: flex;
          list-style-type: none;
          gap: 1rem;
          
          }
          .NAV-LIST a {
            text-decoration: none;
            color: var(--ColorBlanco);
            font-family: var(--Fuenteprincipal);
            font-size: 2rem;
          }
          .NAV-LIST a:hover{
            transition: 0.3s ease;
            color: aqua;
          }
          .hamburguer {
            display: none;
            cursor: pointer
          }
          .bar {
          display: block;
          width: 20px;
          height: 2px;
          margin-left: auto;
          margin-top: 3px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: var(--ColorBlanco);
          }
        
  
  .inputs-nav {
  background-color: var(--ColorNav);
  }
  
  .input-contenedor-2 {
    border: solid;
    width: auto;
   border-color:rgb(255, 255, 255);
  }
  .formulario__campo-2 {
  margin: auto;
  font-size: 1.5rem;
  font-family: var(--Fuenteprincipal);
  background-color: black;
  color: white;
  width: 15rem;
  font-size: 1.7rem;
  font-family: var(--Fuenteprincipal);
  } 


  /**H2 - H3**/
  
  #H2 {
    color: var(--ColorBlanco);
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  #H2-dos {
    color: var(--ColorBlanco);
    margin-top: 1rem;
    margin-left: 2rem;
  }
  #h3-1 {
  color: var(--ColorBlanco);
  margin-left: 2.4rem;
  }
  #h3-2{
  color: green;
  margin-left: 2.4rem
  }
  #h3-3{
  color: var(--ColorBlanco);
  margin-left: 2.4rem;
  }
  #h3-4{
    color: var(--ColorBlanco);
   text-align: center;
  }
  .footer {
    background-color: var(--ColorPrincipal);
  }
  /**H2 - H3**/
  
  /*Imagenes-icono*/
  .imagen-icono {
    width: 2.4rem;
    margin-top: 1px;
  }
  .imagen-icono-2 {
    width: 2.6rem;
    margin-top: 1.2px;
  
  }
  .imagen-icono-3 {
    width: 2.5rem;
    margin-top: 1px;
  }
  .imagen-icono-4 {
    width: 2.5rem;
    margin-top: 1px;
  }
  .imagen-icono-5 {
    width: 2.5rem;
    margin-top: 1px;
  }
  .imagen-icono-6 {
    width: 2.9rem;
    margin-top: 1px;
  }
  .imagen-icono-7 {
    width: 2.5rem;
    margin-top: 1px;
  }
  .imagen-icono-logo {
    width: 3.4rem;
    height: 3rem;
  }
 

button {
 background-color: black;
 color: var(--ColorBlanco);
width: 11rem;
height: 2.3rem;
transition: .2s;
cursor: pointer;
}
button span {
  font-size: 1.7rem;
  transition: .2s;
}
button:active {
  transform: scale(0.9);
}

.barra_boton_nueva_lista {
  background-color: #590306; /* COLOR BORDO */
  padding: 10px 0px 0px 0px;
  text-align: center;
}

.barra_boton_nueva_lista .btn {
  font-size: 16px;
  color: white;
  background-color: #590306;
  border-color: white;
  border-radius: 5px;
}
}
  
  
  
  .imagen-2 {
    
  }
  
  @media only screen and (min-width: 800px) and (max-width:1223px) {    
    .container-1 {
      border: solid;
      padding-bottom: 3rem;
      width: 70rem;
      margin-left: 13%;
      border-radius: 12%;
      margin-top: 13rem;
      background-color: #160a3b;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #sub-title {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 3rem;
      color: var(--ColorBlanco);
    }
    #input-1 {
      margin-left: 16.5rem;
      margin-bottom: 3rem;
      border-style: solid;
      border-radius: 0.7rem;
      background-color:#232526;
      color: yellow;
      font-size: 2rem;
      padding: 0.3rem;
      width: 35rem;
    }
    #descripcion-review{
      background-color:#232526;
      margin-left: 16.5rem;
      font-size: 2rem;
      border-style: solid;
      border-radius: 0.7rem;
      color:yellow;
      margin-bottom: 2rem;
    }
    .guardado-albums{
      margin-left: 30rem;
      margin-bottom: 2rem;
      margin-top: 5rem;
    }
    #guardar-detalle-album{
      width: 10rem;
      height: 3.3rem;
      font-size: 1.5rem;
      background-color:#590306;
      color:white;
      font-family: var(--Fuenteprincipal);
    }
    .cerrar-albums{
      margin-left: 30rem;
    }
    #cerrar-detalle-album{
      width: 10rem;
      height: 3.3rem;
      font-size: 1.5rem;
      background-color: grey;
      color:black;
      font-weight: bold;
      font-family: var(--Fuenteprincipal);
    }
    
    .contenedor-main {
      display: grid;
      gap: 1rem;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;                  
    }
  
       
    #modal{ 
      margin: auto;
      border: none;
    background: none;
      background-repeat: no-repeat;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.667);
      min-width: 100%;
      min-height: 100%;
      }
      .container-1 form {
        margin-top: 3rem;
      }
    .boton {
      margin-left: 100rem;
      margin-bottom: 3rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
    .boton-cerrar {        
      cursor: pointer;
      width: 12rem;
      height: 3rem;
      font-size: 2rem;
      margin-left: 1rem;
    }
    
    #Guardar {
     margin-left: 23rem;
     width: 12rem;
     height: 3rem;
     font-size: 2rem;
      }
  
      .contenedor-buttons {
      display: inline-flex;
      margin-top: 1rem;
    }
    #Album {
      margin-top: 8rem;
    }
    #title {
      margin-left: 26rem;
      margin-top: 3rem;
      font-size: 2rem;
      color: var(--ColorBlanco);
    }
    
    

    #sub-title-2 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 2.7rem;
      color: var(--ColorBlanco);
    }
    #sub-title-3 {
      text-align: center;
      margin-top: 1rem;
      font-size: 2.7rem;
      color: var(--ColorBlanco);
    }
    
    #input-2 {
      margin-left: 16.5rem;
      margin-top: 2rem;
      font-size: 2.3rem;
      border-style: outset;
      background-color: transparent;
      color: var(--ColorBlanco);
      height: 4rem;
      width: 35rem;
    }

    
          .Titulo {
            border: none;
          }
          .buton {
            margin-left: 100rem;
            margin-bottom: 3rem;
          }

          .text-album-1 {
           margin-left: 11.3rem;
           font-size: 1.6rem;
           color: var(--ColorBlanco);
          }
          .lista-albums{
            margin-top: -0.2rem;
            margin-left: 25rem;
            margin-bottom: 0rem;
          }
          .opcion-album{
            margin-top: 2rem;
            margin-bottom: 0rem;
          }
          .nombre-album{
            color:white;
            font-size: 2rem;
            margin-left: 1.5rem;
          }
          #Album { /*ES EL CHECKBOX */
            margin-left: 4.3rem;
            margin-top: 0rem;
            width:16px;
            height:16px;
          }
         


    .imagen-icono-editado-new-1 {
      height: 25.4rem;
      width: 36rem;
      margin-left: 2.5rem;
      margin-top: 3.9rem;
      border: solid;
      border-color: grey;
    
    } 
  


     .imagen-icono-editado-new-2 {
      height: 25.4rem;
      width: 40rem;
      margin-left: 2.5rem;
      margin-top: 3.8rem;
      border: solid;
      border-color: grey;
    
    } 
     .imagen-icono-editado-new-3 {
      height: 25.5rem;
      width: 38rem;
      margin-left: 2.5rem;
      margin-top: 3.8rem;
      border: solid;
      border-color: grey;
      
    }
     
    .imagen-icono-editado-new-4 {
     height: 25.4rem;
      width: 36rem;
      margin-left: 2.5rem;
      margin-top: 3rem;
      border: solid;
      border-color: grey;
    }

  
    
    .descripcion_lista{
      color:white;
      font-size: 3rem;
      margin-top:2rem;
      margin-left:2rem;
      margin-bottom: -70px;
    }
    
    .caja1 {
      width: 40rem;
        }
        .caja2 {
       width: 40rem;
       height: 2rem;
       margin-top: 7rem;
        
        }
        .caja3 {
      width: 40rem;
      margin-top: 2.4rem;
     
        }
        .caja4{
      width: 40rem;
      margin-top: 5rem;
     
        }
  
        /** Arreglos header **/
        .header {
          display: flex;
          align-items: center;
          justify-content: end;
          flex-direction: row-reverse;
          
          padding: 2rem;
          background-color: var(--ColorNav);
        }
        
        
        
        .NAV-LIST{
        display: flex;
        list-style-type: none;
        gap: 1rem;
        
        }
        .NAV-LIST a {
          text-decoration: none;
          color: var(--ColorBlanco);
          font-family: var(--Fuenteprincipal);
          font-size: 2rem;
        }
        .NAV-LIST a:hover{
          transition: 0.3s ease;
          color: aqua;
        }
        .hamburguer {
          display: none;
          cursor: pointer
        }
        .bar {
        display: block;
        width: 20px;
        height: 2px;
        margin-left: auto;
        margin-top: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--ColorBlanco);
        }
      

.inputs-nav {
background-color: var(--ColorNav);
}

.input-contenedor-2 {
  border: solid;
  width: auto;
 border-color:rgb(255, 255, 255);
}
.formulario__campo-2 {
margin: auto;
font-size: 1.5rem;
font-family: var(--Fuenteprincipal);
background-color: black;
color: white;
width: 15rem;
font-size: 1.7rem;
font-family: var(--Fuenteprincipal);
} 


/**H2 - H3**/

#H2 {
  color: var(--ColorBlanco);
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#H2-dos {
  color: var(--ColorBlanco);
  margin-top: 1rem;
  margin-left: 2rem;
}
#h3-1 {
color: var(--ColorBlanco);
margin-left: 2.4rem;
}
#h3-2{
color: green;
margin-left: 2.4rem
}
#h3-3{
color: var(--ColorBlanco);
margin-left: 2.4rem;
}
#h3-4{
  color: var(--ColorBlanco);
 text-align: center;
}
.footer {
  background-color: var(--ColorPrincipal);
}
/**H2 - H3**/

/*Imagenes-icono*/
.imagen-icono {
  width: 2.4rem;
  margin-top: 1px;
}
.imagen-icono-2 {
  width: 2.6rem;
  margin-top: 1.2px;

}
.imagen-icono-3 {
  width: 2.5rem;
  margin-top: 1px;
}
.imagen-icono-4 {
  width: 2.5rem;
  margin-top: 1px;
}
.imagen-icono-5 {
  width: 2.5rem;
  margin-top: 1px;
}
.imagen-icono-6 {
  width: 2.9rem;
  margin-top: 1px;
}
.imagen-icono-7 {
  width: 2.5rem;
  margin-top: 1px;
}
.imagen-icono-logo {
  width: 3.4rem;
  height: 3rem;
}


button {
background-color: black;
color: var(--ColorBlanco);
width: 11rem;
height: 2.3rem;
transition: .2s;
cursor: pointer;
}
button span {
font-size: 1.7rem;
transition: .2s;
}
button:active {
transform: scale(0.9);
}

.barra_boton_nueva_lista {
background-color: #590306; /* COLOR BORDO */
padding: 10px 0px 0px 0px;
text-align: center;
}

.barra_boton_nueva_lista .btn {
font-size: 16px;
color: white;
background-color: #590306;
border-color: white;
border-radius: 5px;
}
}




@media only screen  and (min-width: 800px) and (max-width:949px) {
  .lista-albums{
    margin-left: 20rem;
  }
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 60rem;
    margin-left: 13%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 11rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 2rem;
    padding: 0.3rem;
    width: 35rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 11rem;
    font-size: 2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 23.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 23.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }

}


@media only screen  and (min-width: 800px) and (max-width:820px) {
  .lista-albums{
    margin-left: 15rem;
  }
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 50rem;
    margin-left: 13%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 6.5rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 2rem;
    padding: 0.3rem;
    width: 35rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 6.5rem;
    font-size: 2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 18.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 18.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }
  
  }




@media only screen  and (min-width: 739px) and (max-width:799px) {
  .lista-albums{
    margin-left: 15rem;
  }
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 50rem;
    margin-left: 13%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 6.5rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 2rem;
    padding: 0.3rem;
    width: 35rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 6.5rem;
    font-size: 2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 18.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 18.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }  


  #modal{ 
    margin: auto;
    border: none;
  background: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.667);
    min-width: 100%;
    min-height: 100%;
    }
    .container-1 form {
      margin-top: 3rem;
    }
  .boton {
    margin-left: 100rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .boton-cerrar {        
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  #Guardar {
   margin-left: 23rem;
   width: 12rem;
   height: 3rem;
   font-size: 2rem;
    }

    .contenedor-buttons {
    display: inline-flex;
    margin-top: 1rem;
  }
  #Album {
    margin-top: 8rem;
  }
  #title {
    margin-left: 26rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--ColorBlanco);
  }
  

  #sub-title-2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  #sub-title-3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  
  #input-2 {
    margin-left: 16.5rem;
    margin-top: 2rem;
    font-size: 2.3rem;
    border-style: outset;
    background-color: transparent;
    color: var(--ColorBlanco);
    height: 4rem;
    width: 35rem;
  }
    
  
        .Titulo {
          border: none;
        }
        .buton {
          margin-left: 100rem;
          margin-bottom: 3rem;
        }

        .text-album-1 {
         margin-left: 11.3rem;
         font-size: 1.6rem;
         color: var(--ColorBlanco);
        }
        
        .opcion-album{
          margin-top: 2rem;
          margin-bottom: 0rem;
        }
        .nombre-album{
          color:white;
          font-size: 2rem;
          margin-left: 1.5rem;
        }
        #Album { /*ES EL CHECKBOX */
          margin-left: 4.3rem;
          margin-top: 0rem;
          width:16px;
          height:16px;
        }
       


  .imagen-icono-editado-new-1 {
    height: 25.4rem;
    width: 36rem;
    margin-left: 2.5rem;
    margin-top: 3.9rem;
    border: solid;
    border-color: grey;
  
  } 



   .imagen-icono-editado-new-2 {
    height: 25.4rem;
    width: 40rem;
    margin-left: 2.5rem;
    margin-top: 3.8rem;
    border: solid;
    border-color: grey;
  
  } 
   .imagen-icono-editado-new-3 {
    height: 25.5rem;
    width: 38rem;
    margin-left: 2.5rem;
    margin-top: 3.8rem;
    border: solid;
    border-color: grey;
    
  }
   
  .imagen-icono-editado-new-4 {
   height: 25.4rem;
    width: 36rem;
    margin-left: 2.5rem;
    margin-top: 3rem;
    border: solid;
    border-color: grey;
  }


  
  .descripcion_lista{
    color:white;
    font-size: 3rem;
    margin-top:2rem;
    margin-left:2rem;
    margin-bottom: -70px;
  }
  
  .caja1 {
    width: 40rem;
      }
      .caja2 {
     width: 40rem;
     height: 2rem;
     margin-top: 2rem;
      
      }
      .caja3 {
    width: 40rem;
    margin-top: 2.4rem;
   
      }
      .caja4{
    width: 40rem;
    margin-top: 5rem;
   
      }

      /** Arreglos header **/
      .header {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row-reverse;
        
        padding: 2rem;
        background-color: var(--ColorNav);
      }
      
      
      
      .NAV-LIST{
      display: flex;
      list-style-type: none;
      gap: 1rem;
      
      }
      .NAV-LIST a {
        text-decoration: none;
        color: var(--ColorBlanco);
        font-family: var(--Fuenteprincipal);
        font-size: 2rem;
      }
      .NAV-LIST a:hover{
        transition: 0.3s ease;
        color: aqua;
      }
      .hamburguer {
        display: none;
        cursor: pointer
      }
      .bar {
      display: block;
      width: 20px;
      height: 2px;
      margin-left: auto;
      margin-top: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--ColorBlanco);
      }
    

.inputs-nav {
background-color: var(--ColorNav);
}

.input-contenedor-2 {
border: solid;
width: auto;
border-color:rgb(255, 255, 255);
}
.formulario__campo-2 {
margin: auto;
font-size: 1.5rem;
font-family: var(--Fuenteprincipal);
background-color: black;
color: white;
width: 15rem;
font-size: 1.7rem;
font-family: var(--Fuenteprincipal);
} 


/**H2 - H3**/

#H2 {
color: var(--ColorBlanco);
margin-left: 3rem;
margin-bottom: 2rem;
font-size: 2rem;
}

#H2-dos {
color: var(--ColorBlanco);
margin-top: 1rem;
margin-left: 2rem;
}
#h3-1 {
color: var(--ColorBlanco);
margin-left: 2.4rem;
}
#h3-2{
color: green;
margin-left: 2.4rem
}
#h3-3{
color: var(--ColorBlanco);
margin-left: 2.4rem;
}
#h3-4{
color: var(--ColorBlanco);
text-align: center;
}
.footer {
background-color: var(--ColorPrincipal);
}
/**H2 - H3**/

/*Imagenes-icono*/
.imagen-icono {
width: 2.4rem;
margin-top: 1px;
}
.imagen-icono-2 {
width: 2.6rem;
margin-top: 1.2px;

}
.imagen-icono-3 {
width: 2.5rem;
margin-top: 1px;
}
.imagen-icono-4 {
width: 2.5rem;
margin-top: 1px;
}
.imagen-icono-5 {
width: 2.5rem;
margin-top: 1px;
}
.imagen-icono-6 {
width: 2.9rem;
margin-top: 1px;
}
.imagen-icono-7 {
width: 2.5rem;
margin-top: 1px;
}
.imagen-icono-logo {
width: 3.4rem;
height: 3rem;
}


button {
background-color: black;
color: var(--ColorBlanco);
width: 11rem;
height: 2.3rem;
transition: .2s;
cursor: pointer;
}
button span {
font-size: 1.7rem;
transition: .2s;
}
button:active {
transform: scale(0.9);
}

.barra_boton_nueva_lista {
background-color: #590306; /* COLOR BORDO */
padding: 10px 0px 0px 0px;
text-align: center;
}

.barra_boton_nueva_lista .btn {
font-size: 16px;
color: white;
background-color: #590306;
border-color: white;
border-radius: 5px;
}
}






@media only screen  and (min-width: 0px) and (max-width:738px) {
  
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 35rem;
    margin-left: 14%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 6.5rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 23rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 6.5rem;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 12.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 12.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }


  #modal{ 
    margin: auto;
    border: none;
  background: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.667);
    min-width: 100%;
    min-height: 100%;
    }
    .container-1 form {
      margin-top: 3rem;
    }
  .boton {
    margin-left: 100rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .boton-cerrar {        
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  #Guardar {
   margin-left: 18rem;
   width: 12rem;
   height: 3rem;
   font-size: 2rem;
    }

    .contenedor-buttons {
    display: inline-flex;
    margin-top: 1rem;
  
  }
  #Album {
    margin-top: 8rem;
  }
  #title {
    margin-left: 26rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--ColorBlanco);
  }
  
  

  #sub-title-2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  #sub-title-3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  
  #input-2 {
    margin-left: 13rem;
    margin-top: 2rem;
    font-size: 2.3rem;
    border-style: outset;
    background-color: transparent;
    color: var(--ColorBlanco);
    height: 4rem;
    width: 35rem;
  }
    
  
        .Titulo {
          border: none;
        }
        .buton {
          margin-left: 100rem;
          margin-bottom: 3rem;
        }

        .text-album-1 {
         margin-left: 11.3rem;
         font-size: 1.6rem;
         color: var(--ColorBlanco);
        }
        
        .opcion-album{
          margin-top: 2rem;
          margin-bottom: 0rem;
        }
        .nombre-album{
          color:white;
          font-size: 1.6rem;
          margin-left: 1.5rem;
        }
        #Album { /*ES EL CHECKBOX */
          margin-left: 4.3rem;
          margin-top: 0rem;
          width:16px;
          height:16px;
  
}

}




@media only screen  and (min-width: 0px) and (max-width:621px) {
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 35rem;
    margin-left: 14%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 6.5rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 23rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 6.5rem;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 12.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 12.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }  


  #modal{ 
    margin: auto;
    border: none;
  background: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.667);
    min-width: 100%;
    min-height: 100%;
    }
    .container-1 form {
      margin-top: 3rem;
    }
  .boton {
    margin-left: 100rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .boton-cerrar {        
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  #Guardar {
   margin-left: 12rem;
   width: 12rem;
   height: 3rem;
   font-size: 2rem;
    }

    .contenedor-buttons {
    display: inline-flex;
    margin-top: 1rem;
  
  }
  #Album {
    margin-top: 8rem;
  }
  #title {
    margin-left: 26rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--ColorBlanco);
  }
  
  

  #sub-title-2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  #sub-title-3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  
  #input-2 {
    margin-left: 8.5rem;
    margin-top: 2rem;
    font-size: 2.3rem;
    border-style: outset;
    background-color: transparent;
    color: var(--ColorBlanco);
    height: 4rem;
    width: 35rem;
  }
    
  
        .Titulo {
          border: none;
        }
        .buton {
          margin-left: 100rem;
          margin-bottom: 3rem;
        }

        .text-album-1 {
         margin-left: 11.3rem;
         font-size: 1.6rem;
         color: var(--ColorBlanco);
        }
        
        .opcion-album{
          margin-top: 2rem;
          margin-bottom: 0rem;
        }
        .nombre-album{
          color:white;
          font-size: 1.6rem;
          margin-left: 1.5rem;
        }
        #Album { /*ES EL CHECKBOX */
          margin-left: 4.3rem;
          margin-top: 0rem;
          width:16px;
          height:16px;
  
}

}





@media only screen and (min-width: 0px) and (max-width:461px){
  
  
  .container-1 {
    border: solid;
    padding-bottom: 3rem;
    width: 35rem;
    margin-left: 14%;
    border-radius: 12%;
    margin-top: 13rem;
    background-color: #160a3b;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sub-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: var(--ColorBlanco);
    
  }
  #input-1 {
    margin-left: 6.5rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-radius: 0.7rem;
    background-color:#232526;
    color: yellow;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 23rem;
  }
  #descripcion-review{
    background-color:#232526;
    margin-left: 6.5rem;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 0.7rem;
    color:yellow;
    margin-bottom: 2rem;
  }
  .guardado-albums{
    margin-left: 12.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  #guardar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color:#590306;
    color:white;
    font-family: var(--Fuenteprincipal);
  }
  .cerrar-albums{
    margin-left: 12.5rem;
  }
  #cerrar-detalle-album{
    width: 10rem;
    height: 3.3rem;
    font-size: 1.5rem;
    background-color: grey;
    color:black;
    font-weight: bold;
    font-family: var(--Fuenteprincipal);
  }


  #modal{ 
    margin: auto;
    border: none;
  background: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.667);
    min-width: 100%;
    min-height: 100%;
    }
    .container-1 form {
      margin-top: 3rem;
    }
  .boton {
    margin-left: 100rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .boton-cerrar {        
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  #Guardar {
   margin-left: 8rem;
   width: 12rem;
   height: 3rem;
   font-size: 2rem;
    }

    .contenedor-buttons {
    display: inline-flex;
    margin-top: 1rem;
  
  }
  #Album {
    margin-top: 8rem;
  }
  #title {
    margin-left: 26rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--ColorBlanco);
  }
  
  

  #sub-title-2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  #sub-title-3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  
  #input-2 {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 2.3rem;
    border-style: outset;
    background-color: transparent;
    color: var(--ColorBlanco);
    height: 4rem;
    width: 35rem;
  }
    
  
        .Titulo {
          border: none;
        }
        .buton {
          margin-left: 100rem;
          margin-bottom: 3rem;
        }

        .text-album-1 {
         margin-left: 11.3rem;
         font-size: 1.6rem;
         color: var(--ColorBlanco);
        }
        
        .opcion-album{
          margin-top: 2rem;
          margin-bottom: 0rem;
        }
        .nombre-album{
          color:white;
          font-size: 2rem;
          margin-left: 1.5rem;
        }
        #Album { /*ES EL CHECKBOX */
          margin-left: 4.3rem;
          margin-top: 0rem;
          width:16px;
          height:16px;
  
}

}




@media only screen and (min-width: 0px) and (max-width:406px){
   
  #modal{ 
    margin: auto;
    border: none;
  background: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.667);
    min-width: 100%;
    min-height: 100%;
    }
    .container-1 form {
      margin-top: 3rem;
    }
  .boton {
    margin-left: 100rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .boton-cerrar {        
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  #Guardar {
   margin-left: 8rem;
   width: 12rem;
   height: 3rem;
   font-size: 2rem;
    }

    .contenedor-buttons {
    display: inline-flex;
    margin-top: 1rem;
  
  }
  #Album {
    margin-top: 8rem;
  }
  #title {
    margin-left: 26rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--ColorBlanco);
  }
  
  
 
  #sub-title-2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  #sub-title-3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
    color: var(--ColorBlanco);
  }
  
  #input-2 {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 2.3rem;
    border-style: outset;
    background-color: transparent;
    color: var(--ColorBlanco);
    height: 4rem;
    width: 35rem;
  }
    
  
        .Titulo {
          border: none;
        }
        .buton {
          margin-left: 100rem;
          margin-bottom: 3rem;
        }

        .text-album-1 {
         margin-left: 11.3rem;
         font-size: 1.6rem;
         color: var(--ColorBlanco);
        }
        
        .opcion-album{
          margin-top: 2rem;
          margin-bottom: 0rem;
        }
        .nombre-album{
          color:white;
          font-size: 2rem;
          margin-left: 1.5rem;
        }
        #Album { /*ES EL CHECKBOX */
          margin-left: 4.3rem;
          margin-top: 0rem;
          width:16px;
          height:16px;
  
}
}

@media only screen and (min-width: 0px) and (max-width:799px){
  .descripcion_lista{
    color:white;
    font-size: 3rem;
    margin-top:2rem;
    margin-left:2rem;
    margin-bottom: -70px;
  }

  .imagen-icono-editado-new-1 {
    height: 25.4rem;
    width: 40rem;
    margin-left: 2.5rem;
    margin-top: 3rem;
    border: solid;
    border-color: grey;
  
  } 
     .imagen-icono-editado-new-2 {
      height: 25.4rem;
      width: 40rem;
      margin-left: 2.5rem;
      margin-top: 2.9rem;
      border: solid;
      border-color: grey;
    
    } 
     .imagen-icono-editado-new-3 {
      height: 25.5rem;
      width: 40rem;
      margin-left: 2.5rem;
      margin-top: 3rem;
      border: solid;
      border-color: grey;
      
    }
     
    .imagen-icono-editado-new-4 {
      border: solid;
      border-color: gray;
      height: 25.4rem;
      width: 40rem;
      margin-left: 2.5rem;
      margin-top: 3rem;
    }
}
  


  @media only screen and (min-width: 800px) and (max-width:831px) {
    .NAV-LIST a {
      font-size: 1.8rem
    }
  }


  @media only screen and (min-width: 700px) and (max-width:799px) {
    .NAV-LIST a {
      font-size: 1.7rem
    }

    .barra_boton_nueva_lista {
      background-color: #590306; /* COLOR BORDO */
      padding: 10px 0px 0px 0px;
      text-align: center;
    }

    .barra_boton_nueva_lista .btn {
      font-size: 16px;
      color: white;
      background-color: #590306;
      border-color: white;
      border-radius: 5px;
    }
 

    button {
      background-color: black;
      color: var(--ColorBlanco);
     width: 11rem;
     height: 2.3rem;
     transition: .2s;
     cursor: pointer;
     }
     button span {
       font-size: 1.7rem;
       transition: .2s;
     }
     button:active {
       transform: scale(0.9);
     }
    
     .descripcion_lista{
      color:white;
      font-size: 3rem;
      margin-top:2rem;
      margin-left:2rem;
      margin-bottom: -70px;
    }
  }
  
  @media only screen and (min-width: 701px) and (max-width:748px) {
    .NAV-LIST a {
      font-size: 1.5rem
    }
    .input-contenedor-2 {
      border: solid;
      width: auto;
     border-color:rgb(255, 255, 255);
    }
  }

  @media only screen and (min-width: 0px) and (max-width:699px) {
  .barra_boton_nueva_lista {
    background-color: #590306; /* COLOR BORDO */
  text-align: center;
  }
  .barra_boton_nueva_lista .btn {
    font-size: 16px;
    color: white;
    background-color: #590306;
    border-color: white;
    border-radius: 5px;
  }
  }


  @media only screen and (min-width: 701px) and (max-width:799px) {
    
    .input-contenedor-2 {
      border: solid;
      width: auto;
     border-color:rgb(255, 255, 255);
    }
    
    .formulario__campo-2 {
      margin: auto;
      font-size: 1.5rem;
      font-family: var(--Fuenteprincipal);
      background-color: black;
      color: white;
      width: 15rem;
      font-size: 1.7rem;
      font-family: var(--Fuenteprincipal);
      } 
  }

  @media only screen and (min-width:600px) and (max-width:700px) {
    .input-contenedor-2 {
      border: solid;
      width: auto;
     border-color:rgb(255, 255, 255);
    }
    
    .formulario__campo-2 {
      margin: auto;
      font-size: 1.5rem;
      font-family: var(--Fuenteprincipal);
      background-color: black;
      color: white;
      width: 15rem;
      font-size: 1.7rem;
      font-family: var(--Fuenteprincipal);
      } 
  }

  @media only screen and (min-width:600px) and (max-width:599px) {
 
 
  }

  @media only screen and (min-width: 542px) and (max-width:699px) {
    button {
      background-color: black;
      color: var(--ColorBlanco);
     width: 11rem;
     height: 2.3rem;
     transition: .2s;
     cursor: pointer;
     }
     button span {
       font-size: 1.7rem;
       transition: .2s;
     }
     button:active {
       transform: scale(0.9);
     }
  
     .input-contenedor-2 {
      border: solid;
      width: auto;
     border-color:rgb(255, 255, 255);
    }
    
    .formulario__campo-2 {
      margin: auto;
      font-size: 1.5rem;
      font-family: var(--Fuenteprincipal);
      background-color: black;
      color: white;
      width: 15rem;
      font-size: 1.7rem;
      font-family: var(--Fuenteprincipal);
      } 
    }
  

  @media only screen and (min-width: 469px) and (max-width:541px) {
button {
  color: var(--ColorBlanco);
  background-color: black;
  transition: .2s;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
button span {
  font-size: 1.4rem;
transition: .2s;
}
button:active {
  transform: scale(0.9);
}
  
.input-contenedor-2 {
  border: solid;
  width: 18rem;
 border-color:rgb(255, 255, 255);


}
.formulario__campo-2 {
margin: auto;
font-size: 1.2rem;
font-family: var(--Fuenteprincipal);
background-color: black;
color: white;
width: 9rem;
height: 3rem;
font-size: 1.5rem;
font-family: var(--Fuenteprincipal);
}

}


@media only screen and (min-width: 407px) and (max-width:468px) {
  .input-contenedor-2 {
    border: solid;
    width: 18rem;
   border-color:rgb(255, 255, 255);
  
  
  }
  .formulario__campo-2 {
  margin: auto;
  font-size: 1.2rem;
  font-family: var(--Fuenteprincipal);
  background-color: black;
  color: white;
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: var(--Fuenteprincipal);
  }
  button {
    color: var(--ColorBlanco);
    background-color: black;
    transition: .2s;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
  }
  button span {
    font-size: 1.4rem;
  transition: .2s;
  }
  button:active {
    transform: scale(0.9);
  }
}


@media only screen and (min-width: 360px) and (max-width:406px) {
  
  .input-contenedor-2 {
    border: solid;
    width: 18rem;
   border-color:rgb(255, 255, 255);
  
  
  }
  .formulario__campo-2 {
  margin: auto;
  font-size: 1.2rem;
  font-family: var(--Fuenteprincipal);
  background-color: black;
  color: white;
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: var(--Fuenteprincipal);
  }
  
  button {
    color: var(--ColorBlanco);
    background-color: black;
    transition: .2s;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
  }
  button span {
    font-size: 1.4rem;
  transition: .2s;
  }
  button:active {
    transform: scale(0.9);
  }
}


@media only screen and (min-width:0px) and (max-width:364px) {
 .input-contenedor-2 {
    border: solid;
    width: 18rem;
   border-color:rgb(255, 255, 255);

  }
  .formulario__campo-2 {
  margin: auto;
  font-size: 1.2rem;
  font-family: var(--Fuenteprincipal);
  background-color: black;
  color: white;
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: var(--Fuenteprincipal);
  }
  
  button {
    color: var(--ColorBlanco);
    background-color: black;
    transition: .2s;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
  }
  button span {
    font-size: 1.4rem;
  transition: .2s;
  }
  button:active {
    transform: scale(0.9);
  }
}
 

 /* @media (min-width: 0px) {
 
 

  
}
    */
            .imagen-icono {
              width: 2.4rem;
              margin-top: 1px;
            }
            .imagen-icono-2 {
              width: 2.6rem;
              margin-top: 1.2px;
            
            }
            .imagen-icono-3 {
              width: 2.5rem;
              margin-top: 1px;
            }
            .imagen-icono-4 {
              width: 2.5rem;
              margin-top: 1px;
            }
            .imagen-icono-5 {
              width: 2.5rem;
              margin-top: 1px;
            }
            .imagen-icono-6 {
              width: 2.9rem;
              margin-top: 1px;
            }
            .imagen-icono-7 {
              width: 2.5rem;
              margin-top: 1px;
            }
            .imagen-icono-logo {
              width: 3.4rem;
              height: 3rem;
            }
            .NAV-LIST a:hover{
              transition: 0.3s ease;
              color: aqua;
            }
            
  
 
  
  
        .caja1 {
          height: 30rem;
          margin-top: 7rem;
          }
          .caja2 {
          height: 30rem;
          margin-top: 7rem;
          }
          .caja3 {
          height: 30rem;
          margin-top: 7rem;
          
          }
          .caja4{
           height: 30rem;
           margin-top: 7rem;
          }
          
/*           
       .imagen-icono-editado-new-2 {
        height: 25.4rem;
        width: 40rem;
        margin-left: 2.5rem;
        margin-top: 3.7rem;
        border: solid;
        border-color: grey;
      
      } 
       .imagen-icono-editado-new-3 {
        height: 25.5rem;
        width: 40rem;
        margin-left: 2.5rem;
        margin-top: 3.5rem;
        border: solid;
        border-color: grey;
        
      } */
       
      /* .imagen-icono-editado-new-4 {
        border: solid;
        border-color: gray;
        height: 25.4rem;
        width: 40rem;
        margin-left: 2.5rem;
        margin-top: 1rem;
      }
   */
  
        /** Arreglos header **/
        .header {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-between;
          padding: 2rem;
          background-color: var(--ColorNav);
        }
        
        
        
        .NAV-LIST{
        display: flex;
        list-style-type: none;
        gap: 1rem;
        
        }
        .NAV-LIST a {
          text-decoration: none;
          color: var(--ColorBlanco)
        }
        .hamburguer {
          display: none;
          cursor: pointer
        }
        .bar {
        display: block;
        width: 20px;
        height: 2px;
        margin-left: auto;
        margin-top: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--ColorBlanco);
        }
        
  
  
  
  
  
  
        @media only screen and (min-width: 0px) and (max-width:700px) {
        .contenedor-grid{
            display: grid;
          
        grid-template-areas: 
         "header"
          "navbar"
          "main"
          "footer";
        }
        .header {
            grid-area: header;
            background-color:var(--ColorNav);
           
            
        }
        .navbar {
            grid-area: navbar;
           background-color: var(--ColorNav);
        }
        .main {
            grid-area: main;
            background-color: var(--ColorPrincipal);
        }
        .footer {
            grid-area: footer;
            background-color: var(--ColorPrincipal);
        }
        #H2 {
          color: var(--ColorBlanco);
          margin-left: 3rem;
          margin-bottom: 2rem;
          font-size: 2rem;
        }
        #h3-4{
          color: var(--ColorBlanco);
        margin-left: 15.5rem;
       
        }
  
        .hamburguer {
          display: block;
        }
        .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
        }
        .hamburguer.active .bar:nth-child(1) {
          transform: translateX(8px) rotate(45deg);
        }
        .hamburguer.active .bar:nth-child(3) {
          transform: translateX(-8px) rotate(-45deg);
        }
        .NAV-LIST {
          position: fixed;
          right: -100%;
          top:70px;
          gap:0;
          flex-direction: column;
          align-items: center;
          background-color: var(--ColorNav);
          width: 100%;
          transition: 0.3s;
        }
        .Listas {
          margin: 16px 0;
        }
        .NAV-LIST a {
          font-size: 1.4rem;
        }
        .NAV-LIST a:hover{
          transition: 0.1s ease;
          color: aqua;
        }
        .contenedor-inputs {
          margin-right: 17rem;
          margin-top: 2rem;
          border: solid;
        }
        
        
        /* .input-contenedor-1 {
        
          border: solid;
          border-radius: 1rem;
        border-style: solid;
        border-color: rgb(10, 79, 208);
          }
          .formulario-1 {
          font-size: 1.4rem;
          }
          .input-contenedor-2 {
          border: solid;
          border-style: solid;
          border-radius: 1rem;
          border-color: rgb(10, 79, 208);
          font-size: 1.4rem;
          
        } */
    
  
  
      }     
  
        
        .NAV-LIST.active {
          right: 0;
        }
        .barra {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
     
  
  
  
  
  
  
  
  
  /**H2 - H3**/
  
  #H2 {
  color: var(--ColorBlanco);
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  }
  
  #H2-dos {
  color: var(--ColorBlanco);
  margin-top: 1rem;
  margin-left: 2rem;
  }
  #h3-1 {
  color: var(--ColorBlanco);
  margin-left: 2.4rem;
  }
  #h3-2{
  color: white;
  margin-left: 2.6rem;
  font-size:2rem;
  }
  #h3-3{
  color: var(--ColorBlanco);
  margin-left: 2.4rem;
  }
  #h3-4{
  color: var(--ColorBlanco);
  margin-left: 2.4ren;
  }
  .footer {
  background-color: var(--ColorPrincipal);
  }
  /**H2 - H3**/
  
  /* .input-contenedor-2 {
    border: solid;
    width: auto;
   border-color:rgb(255, 255, 255);
  }
  .formulario__campo-2 {
  margin: auto;
  font-size: 1.5rem;
  font-family: var(--Fuenteprincipal);
  background-color: black;
  color: white;
  width: 15rem;
  font-size: 1.7rem;
  font-family: var(--Fuenteprincipal);
  }  */

  
  
    /*Cajas y imagenes*/
  .caja1 {
    height: 30rem;
    margin-top: 7rem;
    margin-right: 5rem;
    }
    .caja2 {
    height: 30rem;
    margin-top: 7rem;
    margin-right:5rem;
    }
    .caja3 {
    height: 30rem;
    margin-top: 7rem;
    margin-right: 5rem;
    
    }
    .caja4{
     height: 30rem;
     margin-top: 2rem;
     margin-right: 5rem;
    }
    
    
    .imagen-1 {
      border: solid;
      border-color:crimson;
      height: 25.4rem;
      width: 40rem;
    }
    
   
    .imagen-3 {
      border: solid;
      height: 25.4rem;
      width: 40rem;
      margin-left: 2.5rem;
    margin-top: 4rem;
    }
    
    .imagen-4 {
      border: solid;
      border-color: gray;
      height: 25.4rem;
      width: 40rem;
      margin-left: 2.5rem;
    }
  /*Cajas y imagenes*/
  
  
  /*Comienza @media querie mas baja - movil pequeño 360x640px */
  @media (min-width:0px) {
    /*Cajas y imagenes*/
  
    .caja1 {
      height: 30rem;
      margin-top: 7rem;
      }
      .caja2 {
      height: 30rem;
      margin-top: 7rem;
      }
      .caja3 {
      height: 30rem;
      margin-top: 7rem;
      
      }
      .caja4{
       height: 30rem;
       margin-top: 2rem;
      }
      
      
      /* .imagen-1 {
        border: solid;
        border-color:crimson;
        height: 25.4rem;
        width: 40rem;
        margin-left: 2.5rem;
      }
      
      .imagen-2 {
        height: 25.4rem;
        width: 40rem;
        border: solid;
        margin-left: 2.5rem;
      margin-top: 4rem;
      }
      .imagen-3 {
        border: solid;
        height: 25.4rem;
        width: 39rem;
        margin-left: 2.5rem;
      margin-top: 4rem;
      }
      
      .imagen-4 {
        border: solid;
        border-color: gray;
        height: 25.4rem;
        width: 40rem;
        margin-left: 2.5rem;
      } */
      #h3-4{
        color: var(--ColorBlanco);
        margin-left: 10rem;
      } 
  
      .titulo_pagina_navbar{
        color:white;
        font-size: 4.3rem;
      }
    
    

      .barra {
        border-color: white;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
      }
      .input-contenedor-1 {
      border: solid;
      border-radius: 1rem;
      width: auto;
      color: white;
      }
      .formulario__campo-1{
        background-color: black;
        color: white;
        width: 22rem;
        font-size: 1.7rem;
        font-family: var(--Fuenteprincipal);
      }
     
    
    
    } 
  
  
  
