<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reviews.css">
    <link rel="stylesheet" href="normalize.css">
   <link rel="stylesheet" href="/Proyecto-Musicbox/logo.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef233ec86e.js" crossorigin="anonymous"></script>
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Proyecto1</title>
</head>
<body class="contenedor-grid">
    <header class="header">
        <nav class="nav" id="nav">
            <ul class="NAV-LIST">
                <span class="logo">Music~<span class="logo-2">box♪</span></span>
              <li class="Listas"><a href="/Proyecto-Musicbox/index.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono" src="/Proyecto-Musicbox/iconos/house-black-silhouette-without-door.png"></i>Inicio</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/perfil/perfil.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-2" src="/Proyecto-Musicbox/iconos/music-lover.png"></i>Perfil</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/Listenlist/Listenlist.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-3" src="/Proyecto-Musicbox/iconos/album-de-musica.png"></i>Listenlist</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/LISTAS/listas.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-4" src="/Proyecto-Musicbox/iconos/icono.png"></i>Listas</a></li>
              <li class="Listas"><a href="/Proyecto-Musicbox/reviews/reviews.html" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/chat.png"></i>Reviews</a></li>
              <li class="Listas"><a href="#" class="Listas-a"><i class="Listas-i"><img class="imagen-icono-5" src="/Proyecto-Musicbox/iconos/exit.png"></i>Cerrar sesíon</a></li>
              </ul>
              <div class="hamburguer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
    </header>
    <nav class="navbar"><nav class="inputs-nav">
            <div class="barra">
                <form action="" class="formulario-1">
                    <div>
                     <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar" required style="cursor: pointer;">
                     </div>
                     <div>
                     <select class="formulario__campo-2" id="selectorOption" name="selectorOption" required style="cursor: pointer;">
                        <option value="0" disabled selected>Tipo busqueda</option>
                        <option value="1">HHHH</option>
                        <option value="2">EEEE</option>
                        <option value="3">AAAA</option>
                        <input type="button" onclick="validarSelectorBusqueda();" value="confirmar"  id="botonValidar">
                     </select>
                     </div>
                      <div class="barra_boton_nueva_lista">
                     <button class="btn">Buscar</button>
                  </div>
                  </form>
        
        
        
        
        
                <!-- <div class="input-contenedor-1">
                <form class="formulario-1">
        <input class="formulario__campo-1" type="text" placeholder="Ingrese texto para buscar">
    </form>
    </div>
    
    <div class="input-contenedor-2">
        <form class="formulario-2">
            <select class="formulario__campo-2">
                <option disabled selected>Tipo busqueda</option>
                <option>HHHH</option>
                <option>EEEE</option>
                <option>AAAA</option>
            </select>
        </form>
    </div>

    <div class="barra_boton_nueva_lista">
        <button class="btn" id="">Buscar</button>
    </div> -->



    </div>
    </div>
    </nav>
    </nav>
    <main class="main">
        <p class="titulo_album">Tus reseñas sobre distintos albums!</p>
        
        <li v-for="review in reviews">
            <div class="review">
                <img v-bind:src="review.nombreAlbumArchivo" alt=""class="foto-album" >
                <div class="datos-review">
                    <p class="artista-album">{{ review.nombreAlbum }}</p>
                    <p class="datos-album-review">"{{ review.review }}"</p>
                    <p class="datos-album-puntuacion">{{ review.puntuacion }} estrellas</p>
                </div>            
            </div>
        </li>

        <span v-if="cantReviews==0">
            <!-- VERIFICACION PARA QUE LA ESTRUCTURA DE LA PAGINA SE MANTENGA-->
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
        </span>

    </main>
    <footer class="footer"><h3 class="Footer-h3">Todos los derechos reservados</h3></footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="VUE-REVIEWS.js"></script>
    <script src="menu.js"></script>
    <script src="/Proyecto-Musicbox/form-index.js"></script>
    <script src ="/Proyecto-Musicbox/detalle_album/modal.js"></script>
</body>
</html>